@import url("https://fonts.googleapis.com/css?family=Karla");
@font-face {
  font-family: "GorditaBold";
  src: url("./GorditaBold.ttf"); }

@font-face {
  font-family: "GorditaMedium";
  src: url("./GorditaMedium.ttf"); }
